

     <div class="block-header" style="margin-top: 100px;">
            <section id="header-splash">
         <div class="container pt-5">
           <div class="row">
             <div class="col-lg-6 offset-lg-3 text-center">
               
                 <img src="../assets/search-splash.png" class="w-100">
               
             </div>
           </div>
         </div>
       </section>
       
            </div>
            <div class="block-content">   
                    <section class="py-3">
                            <div class="container text-center">
                              <form action="/search" method="GET" class="mt-3">
                                <div class="row">
                                  <!-- search bar -->
                                  
                                  <div class="form-group col-lg-5">
                                    <div class="inner-addon left-addon"><i class="fa fa-briefcase">​</i><br>
                                      <input class="form-control fdj-form-control form-control-lg" id="search-keyword" name="keyword" placeholder="What" type="text"></div>
                                  </div>
                                  <div class="form-group col-lg-5">
                                    <div class="inner-addon left-addon"><i class="fa fa-location-arrow">​</i><br>
                                      <input class="form-control fdj-form-control form-control-lg" id="search-location" name="location" placeholder="Where" type="text"></div>
                                  </div>
                                  
                                  <div class="form-group col-lg-2 text-center findjobs-searchjobs"><button class="btn btn-primary btn-lg btn-round-lg" type="submit">Search Jobs</button></div>
                                </div>
                                <br>
                                <div class="container text-center">
                                  <h5> Let companies search for you! <a class="typeform-share" href="https://findjobs.typeform.com/to/SFN5Vp" data-mode="popup"  data-submit-close-delay="0" target="_blank" alt="Resume Upload"> Upload your resume</a> today!</h5>
                                </div>
                              </form>
                              <!-- end search bar -->
                            </div>
                          </section>
            </div>
              
                 
         